@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

        * {
            margin: 0;
            padding: 0;
            
        }
        body {
    
           
             /* background-image: url('https://media.istockphoto.com/id/155096944/photo/taj-mahal-sunrise.jpg?s=2048x2048&w=is&k=20&c=987-LxCysPf_2J6nHvOK6F6dVDYLFUu-0tNLUzgWQ1E=');  */
            /* background-image: url('https://images.unsplash.com/photo-1604214590838-e440efa410b1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687'); */
            background-size: cover;
            
        }
        
        .nav {
            background-color: #f28482;
            height: 100px;
            width:auto;
            /* padding-right: px; */
            display: flex;
            justify-content: space-evenly;
            color: white;
            align-items: center;
            text-align: center;
            font-size: xx-large;
        }
        .nav:hover{
            color: black;
        }
        h1:hover{
            color: ;
        }
        .foot {
            /* background-color: gray; */
            height: 500px;
            width:auto;
        }
        
        
        .image {
            height: 900px;
            width: 700px;
            background-color: lightblue;
            margin:30px;
            padding:10px;
            
        }
        .text {
            
            height: 900px;
            width: auto;
            /* background-image: url('c:\Users\Heshma Sai Nagisetty\AppData\Local\Microsoft\Windows\INetCache\IE\PBPJ3A7I\sky[1].avif');
            background-size: cover;
     */
             /* background-image: url('https://media.istockphoto.com/id/500540815/photo/light-blue-sky.jpg?s=2048x2048&w=is&k=20&c=eAjhTjrc7Xozm9hHNCEpJojpw0fE4_3uPVhpYhuDosQ='); */ */
            background-size: cover;
            /* background-image: url('https://images.unsplash.com/photo-1600417744906-b9a282545313?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1931'); */ */
            /* background-image: url('https://media.istockphoto.com/id/840034492/photo/altocumulus-cloud-in-blue-sky.jpg?s=2048x2048&w=is&k=20&c=F28Q3_dnioMw-x5zuzIqbiNKBHP-F27h1ZROBmQR93g='); */

        }
         .location { 
             display: flex; 
             align-items: center; 
             text-align: right; 
             gap: 8px; 
        

        }
        .slide {
            width: 700px;
            height: 900px;
            display: flex;
            animation: slide 14s  infinite;
        }
        h1 {
            text-align: center;
            margin: 10px;
            color: #ffffff;
            font-size: 65px;
            font-family: 'Lobster Two', cursive;

        }
        .slides img {
  width: 700px;
  height: 900px;
  object-fit: cover;
}

        @keyframes slide {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-700px); }
  50%  { transform: translateX(-1400px); }
  75%  { transform: translateX(-2100px); }
  100% { transform: translateX(0); }
}
ex {
    font-size: 130px;
}
.ex:hover{
    color:violet;
    
}
h1:hover{
    color: black;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blink {
  50% { border-color: transparent; }
}
h1 {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 3s steps(20) forwards, blink 0.7s infinite;
  color: black
}

body{

}
img{
    border: 3px solid black
}
@keyframes body{
    from{
        0px;
    }
    to{
        500px;
    }
}